.texthome {
    display: flex;
    color: #CC57C7;
    text-align: center;
    
}

.texthome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6 {
    color: #791c74;
    font-size: 2rem;
    margin: 3rem;
    margin-top: 4rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-weight: bold;
}

.cardshome {
    display: flex;
    justify-content: center;
}

.cardhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    margin-top: 0%;
}

.imghome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 2rem;
    align-items: center; 
    margin: 0%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #CC57C7;
    background-color: white;
    border: 2px solid #791c74;
    margin-top: 7rem;
    width: 12rem;
    height: 2.8rem;
    
    
}

